<div class="container">
  <div class="row">
    <h2 class="text-center">Fale conosco!</h2>
  </div>
  <div class='row'>
    <div class="col-lg-offset-3 col-lg-6">
      <div class="form-group">
        <%= form_tag("/enviar", :method => "post") do %>
        <div class='row'>
          <%= label_tag 'Nome:' %>
          <%= text_field_tag :name, nil,:class => "form-control", aria: {label: "nome"}%>
        </div>
        <div class='row'>
          <%= label_tag 'Email:' %><span class="red-text"> *</span>
          <%= text_field_tag :email, nil,:class => "form-control", aria: {label: "email"}, id:"emailEvaluate", onfocusout: "checkMail()" %>
        </div>
        <div class='row'>
          <%= label_tag 'Assunto:' %>
          <%= text_field_tag :subject, nil,:class => "form-control", aria: {label: "Assunto"}%>
        </div>
        <div class='row'>
          <%= label_tag 'Mensagem:' %><span class="red-text"> *</span>
          <%= text_area_tag :message, nil, :class => "form-control textarea", rows: 5 , aria: {label: "Mensagem"}, id:"messageEvaluate", onfocusout: "checkMessage()"%>
        </div>
        <div class='row'>
          <%= label_tag 'Deseja receber retorno?:' %>
          <%= check_box 'object', 'boolean_attribute', {:class => "checkboxcontact"}, 'true', 'false'%>
        </div>
        <div class="row">
          <div class="text-center">
            <%= submit_tag "Enviar!", :method => "send_mail", :class =>"btn btn-primary form-group" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
