<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

<% if !flash[:error].nil? %>
<div class="alert alert-danger">
  <p id="alert" class="text-center">
    <% if ($establishment != nil) %>
    <%= link_to "/avaliar?placeId=#{$establishment.place_id}" do %>
    <%= flash[:error] %></p>
    <% end %>
    <% else %>
    <%= flash[:error] %></p>
    <% end %>
  </div>
  <%end%>
  <script text="text/javascript">
  var locations = JSON.parse("<%=@pinsForMap%>".replace(/&quot;/g,'"'));
  var pin_map = "<%=@pin_map%>";
  var average_pin_map = "<%=@rating_welcome%>";
  </script>


  <div class="row order-space">

    <div class="col-lg-4  col-lg-offset-2">
      <div class="search search-rating">
        <div class="search-label">
          Avalie e comente a suas experiências no estabelecimentos que frequenta
        </div>
        <div class="search-input">
          <%= form_tag('/avaliar', :method => "get", :id => 'formEvaluate', :onsubmit => "fillName()") do %>
          <div class="input-group">
            <input type="text" class="form-control noEnterSubmit" aria-label="Campo para avaliar local"  placeholder="Avalie um local" id="evaluateField">
            <span class="input-group-btn">
              <button type="submit" class="btn search-inputButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <%= hidden_field_tag 'placeId', :class => 'place-id-placeholder' %>
      <% end %>
    </div>

    <div class="col-lg-4">
      <div class="search search-place">
        <div class="search-label">
          Veja como é a avaliação de estabelecimentos feita por outras pessoas
        </div>
        <div class="search-input">
          <%= form_tag('/search', :method => "get", :id => 'formSearch', :onsubmit => "fillSearch()") do %>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Campo para buscar local para visitar" placeholder="Busque um local para visitar" id="searchField">
            <span class="input-group-btn">
              <button type="submit" class="btn search-inputButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <%= hidden_field_tag 'placeId2'  %>
      <% end %>
    </div>
  </div>

  <div align="center" class="row paragraph order-space">
    <a name="ranking">
      Ordenar por:
    </a>
  </div>
  <div align="center" class="row paragraph">
    <a href="#" id='bestPlacesButton' >Mais Altas</a>
    <span> | </span>
    <a href="#" id='worstPlacesButton' >Mais Baixas</a>
    <br>
    <br>
  </div>

  <div class="col-lg-8 col-lg-offset-2" id="top5">
    <ul class="list-group">
      <% @best_places.each do |establishment, average| %>
      <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
        <h4 class="list-group-item-heading">
          <%= establishment.name %>
          <span class="grade-on-list "><label class="concept <%= set_average_style(average) %>"><%= average %></label>
          </h4>
          <p class="list-group-item-text">
            <%= establishment.address %>
          </p>
        </a>
        <% end %>
      </ul>
    </div>

    <div class="col-lg-8 col-lg-offset-2" id="bottom5">
      <ul class="list-group">
        <% @worst_places.each do |establishment, average| %>
        <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
          <h4 class="list-group-item-heading">
            <%= establishment.name %>
            <span class="grade-on-list "><label class="concept <%= set_average_style(average) %>"><%= average %></label>          </h4>
              <p class="list-group-item-text">
                <%= establishment.address %>
              </p>
            </a>
            <% end %>
          </ul>
        </div>
        <!-- <a href="#mapa_path"  -->
        <a name="mapa" >
          <!-- </a> -->
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="row">
                <div class="col-md-8">
                  <input id="map_search" type="text" class="form-control" style="width:50%; " aria-label="Busque um local"  placeholder="Busque um local" >
                </input>
              </div><!-- /.row-->
            </div>
          </a>
          <div id="map">map</div>
          <p class="pin-subtitle">
            <img src="http://www.googlemapsmarkers.com/v1/O/E03535"/>
            <span>Pessímo</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/FF6633/"/>
            <span>Ruim</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/FFBD14/"/>
            <span>Regular</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/99CC00/"/>
            <span>Ótimo</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/329853/"/>
            <span>Excelente</span>
          </p>
        </div>
      </div>


      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ6NOTnj_jq6jQ0vZPtosWhvoLnoLGlm8&signed_in=true&libraries=places&callback=initAutocomplete"async defer></script>
