
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

<% if !flash[:error].nil? %>
<div class="alert alert-danger">
  <p id="alert" class="text-center">
    <% if ($establishment != nil) %>
    <%= link_to "/avaliar?placeId=#{$establishment.place_id}" do %>
    <%= flash[:error] %></p>
    <% end %>
    <% else %>
    <%= flash[:error] %></p>
    <% end %>
  </div>
  <%end%>
  <script text="text/javascript">
  var locations = JSON.parse("<%=@pinsForMap%>".replace(/&quot;/g,'"'));
  var pin_map = "<%=@pin_map%>";
  var average_pin_map = "<%=@rating_welcome%>";
  </script>



  <div class="row order-space">

    <div class="col-lg-4  col-lg-offset-2">
      <div class="search search-rating">
        <div class="search-label">
          Avalie e comente a suas experiências no estabelecimentos que frequenta
        </div>
        <div class="search-input">
          <%= form_tag('/avaliar', :method => "get", :id => 'formEvaluate', :onsubmit => "fillName()") do %>
          <div class="input-group">
            <input type="text" class="form-control noEnterSubmit" aria-label="Campo para avaliar local"  placeholder="Avalie um local" id="evaluateField">
            <span class="input-group-btn">
              <button type="submit" class="btn search-inputButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <%= hidden_field_tag 'placeId', :class => 'place-id-placeholder' %>
      <% end %>
    </div>

    <div class="col-lg-4">
      <div class="search search-place">
        <div class="search-label">
          Veja como é a avaliação de estabelecimentos feita por outras pessoas
        </div>
        <div class="search-input">
          <%= form_tag('/search', :method => "get", :id => 'formSearch', :onsubmit => "fillSearch()") do %>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Campo para buscar local para visitar" placeholder="Busque um local para visitar" id="searchField">
            <span class="input-group-btn">
              <button type="submit" class="btn search-inputButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <%= hidden_field_tag 'placeId2'  %>
      <% end %>
    </div>
  </div>
  <div class="col-md-5 col-lg-offset-1">
    <div align="center" class="row paragraph order-space">
      Ordenar ranking por:
    </div>
    <div align="center" class="ranking-buttons row paragraph">
      <a name="ranking" href="/#ranking" id='bestPlacesButton' ><label class="ranking-best">Ótimo</label></a>
      <span> | </span>
      <a href="/#ranking" id='worstPlacesButton' ><label class="ranking-worst">Péssimo</label></a>

    </div>
    <div class="col-md-12" id="top5">
      <ul class="list-group">
        <% @best_places.each do |establishment, average| %>
        <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
          <h4 class="size-h4 list-group-item-heading">
            <%= establishment.name %>
            <span class="grade-on-list "><label class="concept <%= set_average_style(average) %>"><%= average %></label>
            </h4>
            <p class="list-group-item-text">
              <%= establishment.address %>
            </p>
          </a>
          <% end %>
        </ul>
      </div>


      <div class="col-md-12" id="bottom5">
        <ul class="list-group">
          <% @worst_places.each do |establishment, average| %>
          <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
            <h4 class="size-h4 list-group-item-heading">
              <%= establishment.name %>
              <span class="grade-on-list "><label class="concept <%= set_average_style(average) %>"><%= average %></label>          </h4>
                <p class="list-group-item-text">
                  <%= establishment.address %>
                </p>
              </a>
              <% end %>
            </ul>
          </div>
        </div>

        <a name="mapa" >

          <div class="row">
            <div class="col-md-5 mapa">
              <div class="row">
                <div class="col-md-8">
                  <input id="map_search" type="text" class="form-control" aria-label="Busque um local"  placeholder="Busque um local" >
                </input>
              </div><!-- /.row-->
            </div>
          </a>


          <div id="map" class="hidden-xs visible-lg visible-md visible-sm">map</div>
          <p class="pin-subtitle text-bold hidden-xs visible-lg visible-md visible-sm" align="center">
            <img src="http://www.googlemapsmarkers.com/v1/O/E03535"/>
            <span>Péssimo</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/FF6633/"/>
            <span>Ruim</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/FFBD14/"/>
            <span>Regular</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/99CC00/"/>
            <span>Bom</span>
            <img src="http://www.googlemapsmarkers.com/v1/O/329853/"/>
            <span>Ótimo</span>
          </p>
        </div>
      </div>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ6NOTnj_jq6jQ0vZPtosWhvoLnoLGlm8&signed_in=true&libraries=places&callback=initAutocomplete"async defer></script>
