<%= form_for(@rating, :id => "form-rating") do |f| %>
<% if @rating.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

  <ul>
    <% @rating.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<input type="hidden" id="place_id" name="place_id" value="<%= @place_id %>" readonly="readyonly">

<div class="field">
  <%= f.label 'Mulher' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :woman, "#{i}" %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :woman, "#{nil}" %>
  <span>Não avaliado</span>
</div>

<div class="field">
  <%= f.label 'LGBTQIA' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :lgbtqia, "#{i}" %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :lgbtqia, "#{nil}" %>
  <span>Não avaliado</span>
</div>

<div class="field">
  <%= f.label 'Raça' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :race, "#{i}" %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :race, "#{nil}" %>
  <span>Não avaliado</span>
</div>

<div class="field">
  <%= f.label 'Pessoa com deficiência' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :disability, "#{i}" %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :disability, "#{nil}" %>
  <span>Não avaliado</span>
</div>
<div class="field">
  <%= f.label 'Idoso' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :elder, "#{i}" %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :elder, "#{nil}" %>
  <span>Não avaliado</span>
</div>
<div class="field">
  <%= f.label 'Obeso' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :obese, "#{i}" %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :obese, "#{nil}" %>
  <span>Não avaliado</span>
</div>
<div class="form-group">
  <div class="field">
    <%= f.label "nome" %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>
<div class="field">
  <%= f.label :cpf %><br>
  <%= f.text_field :cpf %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label "telefone" %><br>
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label 'Data do Evento' %><br>
  <%= f.date_field :rating_date %>

</div>
<div class="actions">
  <%= f.submit 'Enviar avaliação' %>
</div>


<% end %>
