<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Mulher' %><br>
    <% (1..5).each do |i| %>
      <%= f.radio_button :woman, "#{i}" %>
    <% end %>

  </div>
  <div class="field">
    <%= f.label 'LGBTQIA' %><br>
    <% (1..5).each do |i| %>
      <%= f.radio_button :lgbtqia, "#{i}" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Negro' %><br>
    <% (1..5).each do |i| %>
      <%= f.radio_button :black, "#{i}" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Deficiente' %><br>
    <% (1..5).each do |i| %>
      <%= f.radio_button :disability, "#{i}" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Idoso' %><br>
    <% (1..5).each do |i| %>
      <%= f.radio_button :elder, "#{i}" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Obeso' %><br>
    <% (1..5).each do |i| %>
      <%= f.radio_button :obese, "#{i}" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :rating_date %><br>
    <%= f.date_select :rating_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
