<%= form_for(@rating, :id => "form-rating" ) do |f| %>
<% if @rating.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

  <ul>
    <% @rating.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="alert alert-danger hidden errorDiv">
  <p id="alert" class="text-center">Erro, verifique os campos em vermelho!</p>
</div>

<input type="hidden" id="place_id" name="place_id" value="<%= @place_id %>" readonly="readyonly">

<div class="field">
  <%= f.label 'Mulher' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :woman, "#{i}", aria: {label: "#{i}"} %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :woman, "#{nil}",  aria: {label: "Não avaliado"} %>
  <span>Não avaliado</span>
</div>

<div class="field">
  <%= f.label 'LGBTQIA' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :lgbtqia, "#{i}", aria: {label: "#{i}"} %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :lgbtqia, "#{nil}",  aria: {label: "Não avaliado"} %>
  <span>Não avaliado</span>
</div>

<div class="field">
  <%= f.label 'Raça' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :race, "#{i}", aria: {label: "#{i}"} %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :race, "#{nil}",  aria: {label: "Não avaliado"} %>
  <span>Não avaliado</span>
</div>

<div class="field">
  <%= f.label 'Pessoa com deficiência' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :disability, "#{i}", aria: {label: "#{i}"} %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :disability, "#{nil}",  aria: {label: "Não avaliado"} %>
  <span>Não avaliado</span>
</div>
<div class="field">
  <%= f.label 'Idoso' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :elder, "#{i}", aria: {label: "#{i}"} %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :elder, "#{nil}", aria: {label: "Não avaliado"}  %>
  <span>Não avaliado</span>
</div>
<div class="field">
  <%= f.label 'Obeso' %>
  <br>
  <span>Ruim</span>
  <% (1..5).each do |i| %>
  <%= f.radio_button :obese, "#{i}", aria: {label: "#{i}"} %>
  <%= f.label "#{i}" %>
  <% end %>
  <span>Excelente</span>
  <br>
  <%= f.radio_button :obese, "#{nil}",  aria: {label: "Não avaliado"} %>
  <span>Não avaliado</span>
</div>
<div class="form-group">
  <div class="field">
    <%= f.label "nome" %><br>
    <%= f.text_field :name, :class => "form-control form-textfield", aria: {label: "Nome"} %>
  </div>
</div>
<div class="field">
  <%= f.label :cpf%><br>
  <%= f.text_field :cpf, :class => "form-control form-textfield", :id => "cpfAvaliacao", aria: {label: "cpf"}  %>
</div>
<div class="field">
  <%= f.label :email%>
  <%= f.text_field :email, :class => "form-control form-textfield", :id => "emailAvaliacao", aria: {label: "email"}  %>
</div>
<div class="field">
  <%= f.label "telefone"%>
  <%= f.text_field :phone, :class => "form-control form-textfield", :id => "telefoneAvaliacao", aria: {label: "Telefone"}  %>
</div>
<div class="field" >
  <%= f.label 'Data do Evento' %><br>
  <%= f.date_field :rating_date, selected: Date.today, min: 5.months.ago, max: 0.day.from_now, :class => "form-control form-textfield", aria: {label: "Data do evento"} %>
  <%#= f.date_field :rating_date, :class => "form-control", :id => "dataAvaliacao" %>
</div>
<div class="actions text-center">
  <%= f.submit 'Enviar avaliação', :class => "btn btn-primary", :id => "submitButton", aria: {label: "Botão de enviar"} %>
</div>
<% end %>
