<%= form_for(@rating, :id => "form-rating" ) do |f| %>
<p class="error-message"> <%= flash_message %> </p>
<% if @rating.errors.any? %>
<div id="error_explanation">
  <h2 class="size-h2"><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

  <ul>
    <% @rating.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="alert alert-danger hidden errorDiv">
  <p id="alert" class="text-center">Erro, os campos com * são obrigatórios!</p>
</div>

  <p class="ratings-subtitle text-center">Avalie de acordo com o acontecimento como o local tratou o(s) grupo(s) abaixo:</p>

<input type="hidden" id="placeId" name="placeId" value="<%= @placeId %>" readonly="readyonly">
<div class="col-lg-6 padding-bottom rating-box">
  <span class="red-text">Não é necessário marcar todos*</span>
  <br>
  <br>
  <div class="col-lg-12 no-padding-left" id="radio-button_id">
    <div class="field">
      <%= f.label 'Mulher', :class => "text-style-radios" %>
      <div class ="row paragraph-ratings">
        <span alt="Daremos notas no estabelecimento, de um a cinco. Um para péssimo, dois para ruim, três para regular, quatro para bom, cinco para ótimo.">
          <ul class="ratings">
            <li class="rating">
              <%= f.radio_button :woman, "1", :class => "radio-button", aria: {label: "Péssimo"}  %>
              <%= f.label :woman, :class => "rating-dangerous", :value => "1" do %>
              <span class="radio-text">Péssimo</span>
              <% end %>
            </li>
            <li class="rating">
              <%= f.radio_button :woman, "2", :class => "radio-button", aria: {label: "Ruim"}  %>
              <%= f.label :woman, :class => "rating-bad", :value => "2", :id => "rate_test" do %>
              <span class="radio-text">Ruim</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :woman, "3", :class => "radio-button", aria: {label: "Regular"}  %>
              <%= f.label :woman, :class => "rating-regular", :value => "3" do %>
              <span class="radio-text">Regular</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :woman, "4", :class => "radio-button", aria: {label: "Bom"}  %>
              <%= f.label :woman, :class => "rating-good", :value => "4" do %>
              <span class="radio-text">Bom</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :woman, "5", :class => "radio-button", aria: {label: "Ótimo"}  %>
              <%= f.label :woman, :class => "rating-excellent", :value => "5" do %>
              <span class="radio-text">Ótimo</span>
              <%end%>
            </li>
          </ul>
        </div>
      </div>

      <div class="field">
        <%= f.label 'LGBTQIA', :class => "text-style-radios text-uppercase" %><span class="info-icon" data-toggle="tooltip" data-placement="right" title="Lésbicas, Gays, Bissexuais, Transgêneros, Travestis, Queer, Intersexuais, Assexuais e/ou Simpatizantes"></span>
        <div class ="row paragraph-ratings">
          <ul class="ratings">
            <li class="rating">
              <%= f.radio_button :lgbtqia, "1", :class => "radio-button", aria: {label: "Péssimo"}  %>
              <%= f.label :lgbtqia, :class => "rating-dangerous", :value => "1" do %>
              <span class="radio-text">Péssimo</span>
              <% end %>
            </li>
            <li class="rating">
              <%= f.radio_button :lgbtqia, "2", :class => "radio-button", aria: {label: "Ruim"}  %>
              <%= f.label :lgbtqia, :class => "rating-bad", :value => "2" do %>
              <span class="radio-text">Ruim</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :lgbtqia, "3", :class => "radio-button", aria: {label: "Regular"}  %>
              <%= f.label :lgbtqia, :class => "rating-regular", :value => "3" do %>
              <span class="radio-text">Regular</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :lgbtqia, "4", :class => "radio-button", aria: {label: "Bom"}  %>
              <%= f.label :lgbtqia, :class => "rating-good", :value => "4" do %>
              <span class="radio-text">Bom</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :lgbtqia, "5", :class => "radio-button", aria: {label: "Ótimo"}  %>
              <%= f.label :lgbtqia, :class => "rating-excellent", :value => "5" do %>
              <span class="radio-text">Ótimo</span>
              <%end%>
            </li>
          </ul>
        </div>
      </div>

      <div class="field">
        <%= f.label 'Raça', :class => "text-style-radios" %>
        <div class ="row paragraph-ratings">
          <ul class="ratings">
            <li class="rating">
              <%= f.radio_button :race, "1", :class => "radio-button", aria: {label: "Péssimo"}  %>
              <%= f.label :race, :class => "rating-dangerous", :value => "1" do %>
              <span class="radio-text">Péssimo</span>
              <% end %>
            </li>
            <li class="rating">
              <%= f.radio_button :race, "2", :class => "radio-button", aria: {label: "Ruim"}  %>
              <%= f.label :race, :class => "rating-bad", :value => "2" do %>
              <span class="radio-text">Ruim</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :race, "3", :class => "radio-button", aria: {label: "Regular"}  %>
              <%= f.label :race, :class => "rating-regular", :value => "3" do %>
              <span class="radio-text">Regular</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :race, "4", :class => "radio-button", aria: {label: "Bom"}  %>
              <%= f.label :race, :class => "rating-good", :value => "4" do %>
              <span class="radio-text">Bom</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :race, "5", :class => "radio-button", aria: {label: "Ótimo"}  %>
              <%= f.label :race, :class => "rating-excellent", :value => "5" do %>
              <span class="radio-text">Ótimo</span>
              <%end%>
            </li>
          </ul>
        </div>
      </div>

      <div class="field">
        <%= f.label 'Pessoa com deficiência', :class => "text-style-radios" %>
        <div class ="row paragraph-ratings">
          <ul class="ratings">
            <li class="rating">
              <%= f.radio_button :disability, "1", :class => "radio-button", aria: {label: "Péssimo"}  %>
              <%= f.label :disability, :class => "rating-dangerous", :value => "1" do %>
              <span class="radio-text">Péssimo</span>
              <% end %>
            </li>
            <li class="rating">
              <%= f.radio_button :disability, "2", :class => "radio-button", aria: {label: "Ruim"}  %>
              <%= f.label :disability, :class => "rating-bad", :value => "2" do %>
              <span class="radio-text">Ruim</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :disability, "3", :class => "radio-button", aria: {label: "Regular"}  %>
              <%= f.label :disability, :class => "rating-regular", :value => "3" do %>
              <span class="radio-text">Regular</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :disability, "4", :class => "radio-button", aria: {label: "Bom"}  %>
              <%= f.label :disability, :class => "rating-good", :value => "4" do %>
              <span class="radio-text">Bom</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :disability, "5", :class => "radio-button", aria: {label: "Ótimo"}  %>
              <%= f.label :disability, :class => "rating-excellent", :value => "5" do %>
              <span class="radio-text">Ótimo</span>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
      <div class="field">
        <%= f.label 'Idoso', :class => "text-style-radios" %>
        <div class ="row paragraph-ratings">
          <ul class="ratings">
            <li class="rating">
              <%= f.radio_button :elder, "1", :class => "radio-button", aria: {label: "Péssimo"}  %>
              <%= f.label :elder, :class => "rating-dangerous", :value => "1" do %>
              <span class="radio-text">Péssimo</span>
              <% end %>
            </li>
            <li class="rating">
              <%= f.radio_button :elder, "2", :class => "radio-button", aria: {label: "Ruim"}  %>
              <%= f.label :elder, :class => "rating-bad", :value => "2" do %>
              <span class="radio-text">Ruim</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :elder, "3", :class => "radio-button", aria: {label: "Regular"}  %>
              <%= f.label :elder, :class => "rating-regular", :value => "3" do %>
              <span class="radio-text">Regular</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :elder, "4", :class => "radio-button", aria: {label: "Bom"}  %>
              <%= f.label :elder, :class => "rating-good", :value => "4" do %>
              <span class="radio-text">Bom</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :elder, "5", :class => "radio-button", aria: {label: "Ótimo"}  %>
              <%= f.label :elder, :class => "rating-excellent", :value => "5" do %>
              <span class="radio-text">Ótimo</span>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
      <div class="field">
        <%= f.label 'Obeso', :class => "text-style-radios" %>
        <div class ="row paragraph-ratings">
          <ul class="ratings">
            <li class="rating">
              <%= f.radio_button :obese, "1", :class => "radio-button", aria: {label: "Péssimo"}  %>
              <%= f.label :obese, :class => "rating-dangerous", :value => "1" do %>
              <span class="radio-text">Péssimo</span>
              <% end %>
            </li>
            <li class="rating">
              <%= f.radio_button :obese, "2", :class => "radio-button", aria: {label: "Ruim"}  %>
              <%= f.label :obese, :class => "rating-bad", :value => "2" do %>
              <span class="radio-text">Ruim</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :obese, "3", :class => "radio-button", aria: {label: "Regular"}  %>
              <%= f.label :obese, :class => "rating-regular", :value => "3" do %>
              <span class="radio-text">Regular</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :obese, "4", :class => "radio-button", aria: {label: "Bom"}  %>
              <%= f.label :obese, :class => "rating-good", :value => "4" do %>
              <span class="radio-text">Bom</span>
              <%end%>
            </li>
            <li class="rating">
              <%= f.radio_button :obese, "5", :class => "radio-button", aria: {label: "Ótimo"}  %>
              <%= f.label :obese, :class => "rating-excellent", :value => "5" do %>
              <span class="radio-text">Ótimo</span>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <br>
        <%= f.button 'Limpar os campos de nota', :type => "button", :class => "btn-field-clean", :id => "clearButton", aria: {label: "Limpar os campos"} %>
      </div>
    </div>
  </div>

  <div class="rating-box col-lg-6">
    <b>Preencha os campos marcados com</b> <span class="red-text"> *</span>
    <br>
    <br>
    <div class="form-group">
      <div id="nameAlert" class="field has-mask">
        <%= f.label "nome" %>
        <p id="nameAlertText", class="hidden">Por favor, digite um nome válido.</p>
        <%= f.text_field :name, :class => "form-control form-textfield", :id => "nameEvaluate", aria: {label: "Nome"} %>
      </div>
    <div id="cpfAlert", class="field has-mask padding-top">
      <%= f.label "CPF",  :class => "text-uppercase"%><span class="red-text"> *</span><span class="info-icon" data-toggle="tooltip" data-placement="right" title="Precisamos armazenar seu CPF por 6 meses de acordo com o Marco Civil da Internet"></span>
      <p id="cpfAlertText", class="hidden">Por favor, digite um CPF válido.</p>
      <%= f.text_field :cpf, :class => "form-control form-textfield", :id => "cpfEvaluate", aria: {label: "cpf"}  %>
    </div>
    <div class="field padding-top">
      <%= f.label "E-mail"%>
      <p id="emailAlertText", class="hidden">Por favor, digite um email válido.</p>
      <%= f.text_field :email, :class => "form-control form-textfield", :id => "emailEvaluate", aria: {label: "email"}  %>
    </div>
    <div class="field has-mask padding-top">
      <%= f.label "telefone"%>
      <%= f.text_field :phone, :class => "form-control form-textfield", :id => "phoneEvaluate", aria: {label: "Telefone"}  %>
    </div>
    <div  id="dateAlert" class="field has-mask padding-top" >
      <%= f.label 'Data do Acontecimento' %><span class="red-text"> *</span><span class="info-icon" data-toggle="tooltip" data-placement="right" title="Neste campo você deve preencher com a data em que ocorreu o fato"></span>
      <!-- <div class ="row paragraph-ratings"> -->
      <p id="dateAlertText", class="hidden alertText">Por favor, digite uma data válida</p>
      <%= f.text_field :rating_date, :id => "dateEvaluate", selected: Date.today, min: 5.months.ago, max: 0.day.from_now, :class => "form-control form-textfield", aria: {label: "Data do evento"} %>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div id="descriptionAlert", class="field has-mask">
    <div class="field padding-top">
      <%= f.label "Descrição do relato" %>
      <p id="descriptionAlertText", class="hidden alertText">Seu texto contém palavras ofensivas, por favor corrija</p>
      <%= f.text_area :description, rows: 5, :maxlength => 500, :class => "form-control", :id => "ratingDescription", aria: {label: "Descrição"}  %>
    </div>
  </div>
  <span id="limitChar">Caracteres restantes: 500</span>
  <div class='field text-center'>
    <input type="checkbox" name="accepted_terms" id="terms" unchecked>
    <label for="terms">Aceito os <a href="/termos" target="_blank">termos e condições de uso!</a></label>
  </div>
  <div class="actions text-center">
    <%= f.submit 'Enviar avaliação', :class => "btn btn-primary", :id => "submitButton", aria: {label: "Botão de enviar"} %>
  </div>
</div>

  <script>

  var badwords = <%= get_bad_word.inspect.html_safe %>;
  </script>
  <% end %>
