<% if !notice.nil? %>
  <div class="alert alert-success"> <%= notice %> </div>
<% end %>
<div class ="col-lg-8 col-lg-offset-2 ">
  <div class ="col-lg-12 padding-bottom">
    <div class='row'>
      <h1 class='size-h1 text-center'>
        <%= image_tag(@spot.icon, size: "30x30") %>
        <%= @spot.name %>
        <span class="margin-left"><label class="concept_establishment <%=set_average_style(@rating_concept ) %>"><%= @rating_concept %></label></span>
      </h1>
    </div>
    <div class='row'>
      <h5 class='text-center'><%= @spot.formatted_address %></h5>
    </div>
    <div class="center-element" >
      <%= form_tag('/avaliar', :method => "get", :id => 'formEvaluate', :onsubmit => "fillName()") do %>
      <%= submit_tag "Avaliar", :class => 'btn btn-primary' %>
      <%= hidden_field_tag 'placeId' , @establishment.id_places %>
      <% end %>
    </div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h2>Relato:</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <ul class="list-group">
        <% @rate_array.each do |rating| %>
        <% if rating[0].rating_date != nil %>
        <h4 class="size-h4 list-group-item list-show-style">
          <span class="text-field">
            <%= rating[0].rating_date.strftime("%d/%m/%Y")%>
          </span>
          <p class="text-right">
            <label class="concept_establishment_list <%= set_average_style(rating[1]) %>">
              <%= rating[1] %>
            </label>
          </p>
          <div id="share-buttons" align="right">
            <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/" target="_blank">
              <img src="https://whatswp.com/wp-content/uploads/2014/04/sh-150x150.png" alt="Facebook" />
            </a>
            <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/&amp;text=N&atildeo%20me%20Calo&amp;hashtags=naomecalo" target="_blank">
              <img src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" alt="Twitter" />
            </a>
          </div>
          <% if rating[0].description != nil && !(rating[0].description.blank?)%>
          <p class="breakline">Relato: <%= rating[0].description %></p>
          <% end %>
        </h4>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
