<p id="notice"><%= notice %></p>

<p>
  <strong>Woman:</strong>
  <%= @rating.woman %>
</p>

<p>
  <strong>Lgbtqia:</strong>
  <%= @rating.lgbtqia %>
</p>

<p>
  <strong>Black:</strong>
  <%= @rating.black %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @rating.disability %>
</p>

<p>
  <strong>Elder:</strong>
  <%= @rating.elder %>
</p>

<p>
  <strong>Obese:</strong>
  <%= @rating.obese %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rating.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @rating.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rating.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rating.phone %>
</p>

<p>
  <strong>Rating date:</strong>
  <%= @rating.rating_date %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
