<% if !notice.nil? %>
  <div class="alert alert-success text-center"> <%= notice %> </div>
<% end %>
<div class ="col-lg-8 col-lg-offset-2 ">
  <div class ="col-lg-12 padding-bottom">
    <div class='row'>
      <h1 class='size-h1 text-center'>
        <%= image_tag(@spot.icon, size: "30x30") %>
        <%= @spot.name %>
        <% if @rating_description != nil %> <span class="margin-left"><label class="concept concept-pointer-nill-events  <%= set_average_style(@concept) %>"><%= @concept %></label></span><% end %>
      </h1>
    </div>
    <div class='row'>
      <h5 class='size-h5 text-center'><%= @spot.formatted_address %></h5>
    </div>

    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h2 class="size-h2">Relato sobre o local.</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <ul class="list-group" id="listLast5">
        <li>
          <h4 class="size-h4 list-group-item list-show-style">
            <span class="text-field"><%= @date_description %></span>
            <p class="text-right text-data-rating list-show-padding"><label class="concept concept-pointer-nill-events <%= set_average_style(@rating_description) %>"><%= @rating_description %></label></p>
            <% if description_exists(@rating)%>
            <% if checking_if_rating_is_visible(@rating)  %>
              <p id="breakline">Relato: <%= @rating.description %></p>
              <div id="share-buttons" align="right">
                <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/relato/<%= @rating.id %>" target="_blank">
                  <img class ="small-square-share-button" src="https://whatswp.com/wp-content/uploads/2014/04/sh-150x150.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/relato/<%=@rating.id %>/&amp;text=<%= @rating.description.slice(0..80)%> ... &amp;hashtags=naomecalo" target="_blank">
                  <img class ="small-square-share-button" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" alt="Twitter" />
                </a>
              </div>
              <%else%>
              <p id="breakline">Relato em moderação.</p>
              <%end%>
            <% end %>
          </h4>

        </li>
        <div class="col-lg-10 col-lg-offset-1 text-center padding-bottom">
        <p>
          <h3 class="size-h3"><a href="/perfil/<%= @rating.establishment.id %>">Veja aqui mais relatos deste local.</a></h3>
        </p>
        </div>
      </ul>
    </div>
  </div>
</div>
