<div class="align-footer">
  <div class="row order-space">
    Ordenar ranking por:
  </div>
  <div class="ranking-buttons text-center">
    <a name="ranking" id='bestPlacesButton' ><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Melhores</a>
    <span> | </span>
    <a id='worstPlacesButton' >Piores <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></a>
    </div>

    <div class="ranking-list" id="top5">
      <ul class="list-group list-ranking-best">
        <% @best_places.each do |establishment, average| %>
        <li>
          <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
            <h4 class="size-h4 list-group-item-heading address-padding">
              <%= establishment.name %>
              <span class="grade-on-list "><label class="concept <%= set_average_style(average) %> concept-pointer"><%= average %></label>
              </h4>
              <p class="list-group-item-text address-padding">
                <%= establishment.address %>
              </p>
            </a>
          </li>

          <% end %>
        </ul>
        <div align="center">
          <a class="show-more-button" id="showMoreBest">Ver mais</a>
        </div>
      </div>

      <div class="ranking-list" id="bottom5" text-align="center">
        <ul class="list-group list-ranking-worst">
          <% @worst_places.each do |establishment, average| %>
          <li>
            <a href="/perfil/<%= establishment.id %>" class="list-group-item welcome-list">
              <h4 class="list-group-item-heading">
                <%= establishment.name %>
                <span class="grade-on-list "><label class="concept <%= set_average_style(average) %> concept-pointer"><%= average %></label>
                </h4>
                <p class="list-group-item-text address-padding">
                  <%= establishment.address %>
                </p>
              </a>
            </li>

            <% end %>
          </ul>
          <div align="center">
            <a class="show-more-button" id="showMoreWorst">Ver mais</a>
          </div>
        </div>

        <div id="share-buttons" align="center" class="row order-space text-center">
          <span class="share-text text-bold">Clique nos botões abaixo para compartilhar este ranking!</span>
          <br>
          <div class="floated">
            <a href="http://www.facebook.com/sharer.php?u=http://naomecalotw-test.herokuapp.com/ranking" target="_blank">
              <img class="large-square-share-button spacing-to-share-button" src="https://whatswp.com/wp-content/uploads/2014/04/sh-150x150.png" alt="Facebook" />
            </a>
            <a href="https://twitter.com/share?url=http://naomecalotw-test.herokuapp.com/ranking/&amp;text=<%= @share_text %>&amp;hashtags=naomecalo" target="_blank">
              <img class="large-square-share-button" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" alt="Twitter" />
            </a>
        </div>
      </div>
