<p id="notice"><%= notice %></p>
<div class ="col-lg-6 col-lg-offset-3">
  <div class ="col-lg-6">
    <h1>
      <%=  @establishment.name %>
    </h1>
    <p>
      <strong>Endereço:</strong>
      <%= @establishment.address %>
    </p>
  </div>

  <div class ="col-lg-6">
    <h1><%= @establishment.average_rating %><span>☆</span><h1>
      <div class="btn btn-primary">Avaliação</div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <%= link_to 'Edit', edit_establishment_path(@establishment) %> |
      <%= link_to 'Back', establishments_path %>
    </div>
  </div>
