<% if !notice.nil? %>
<div class="alert-success text-center col-lg-offset-4 col-lg-4">
  <%= notice %>
</div>
<% end %>
<div class ="col-lg-8 col-lg-offset-2 ">
  <div class ="col-lg-12 padding-bottom">
    <div class='row'>
      <h1 class='size-h1 text-center'>

        <span class="col-lg-offset-2 col-lg-8"><%= image_tag(@spot.icon, size: "30x30") %> <%= @spot.name %></span>

        <div class="hidden-xs visible-sm visible-md visible-lg"> <!--div desktop -->
          <span class="col-lg-2">
            <% if @rating_concept != nil %> <label class="flag-establishment concept concept-pointer-nill-events  <%= set_average_style(@rating_concept) %>"><%= @rating_concept %></label><% end %>
          </span>
        </div>
      </h1>

      <div class='row'>
        <h5 class='address-position size-h5 text-center'><%= @spot.formatted_address %></h5>
        <div class="visible-xs hidden-sm hidden-md hidden-lg text-center"> <!--div mobile -->
          <span class="col-lg-2">
          </h1>
          <% if @rating_concept != nil %> <label class="flag-establishment concept concept-pointer-nill-events  <%= set_average_style(@rating_concept) %>"><%= @rating_concept %></label><% end %>
        </span>
      </div>
    </div>
  </div>

  <div class="evaluate-div" >
    <h3>Clique abaixo para avaliar o local.</h3>
    <%= form_tag('/avaliar', :method => "get", :id => 'formEvaluate', :onsubmit => "fillName()") do %>
    <%= submit_tag "Avaliar", :class => 'btn evaluate-div-button' %>
    <%= hidden_field_tag 'placeId' , $establishment.id_places %>
    <% end %>
  </div>


  <div class="col-lg-10 col-lg-offset-1 text-center">
    <h2 class="size-h2">Últimas avaliações</h2>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <ul class="eliminate-padding-on-list" id="listLast5">
      <% @ratings_array.each do |rating| %>
      <li>
        <h4 class="size-h4 box-fix-size list-group-item list-show-style">
          <div class="hidden-xs visible-sm visible-md visible-lg"> <!--div desktop -->
            <span class="text-field"><b>Data da avaliação:</b> <%= returning_date(rating[0])%></span>
          </div>
          <div div class="visible-xs hidden-sm hidden-md hidden-lg"> <!--div mobile -->
            <span class="text-field col-xs-8 evaluate-date-mobile"><b>Data da avaliação:</b> <%= returning_date(rating[0])%></span>
          </div>
          <p class="text-right"><label class="concept concept-pointer-nill-events <%= set_average_style(rating[1]) %>"><%= rating[1] %></label></p>
          <% if checking_if_rating_is_visible(rating[0])  %>
            <%= render partial: 'rating_visible', locals: {rating: rating[0]} %>
          <%else%>
            <%= render partial: 'rating_not_visible', locals: {rating: rating[0]} %>
          <%end%>
        </h4>
      </li>
      <% end %>
    </ul>
    <div align="center">
      <a class="show-more-button" id="showFiveButton">Ver mais</a>
    </div>
  </div>
</div>
</div>
