<!-- DESKTOP  -->
<div class="headerDesktop hidden-xs visible-sm visible-md visible-lg">
  <div class="headerDesktop-image">
    <nav role="navigation" class="navbar navbar-static-top header-background-color">
      <div class="container">

        <div class="header-logo ">
          <a href="/"><%= image_tag("logo.jpg", size: "90x90",:id => "img_logo_site", :alt => "Logo do site, imagem de uma mulher mostrando a força no braço") %></a>
        </div>

        <div class="header-links" >
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
            <li class="<%= 'active' if current_page?(dicas_path) %>"><%= link_to "Dicas", dicas_path %></li>
            <li class="<%= 'active' if current_page?(ranking_path) %>"><%= link_to "Ranking", ranking_path %></li>
            <li class="<%= 'active' if current_page?(faleconosco_path)%>"><%= link_to "Fale conosco", faleconosco_path%></li>
          </ul>
        </div>
        <div class="headerDesktop-text ">
          <p> Não me calo é uma plataforma para classificar o estabelecimento onde as pessoas
            podem relatar situação de opressão com algum grupo</p>
          </div>
        </div>
      </nav>

    </div>
  </div>


  <!-- MOBILE -->


  <div class="visible-xs hidden-sm hidden-md hidden-lg border-header-mobile">

    <div class="headerMobile-image">
      <div class="headerMobile-text">
        <p>
          Não me calo é uma plataforma para classificar o estabelecimento onde as pessoas
          podem relatar situação de opressão com algum grupo
        </p>
      </div>
    </div>
    <div class="headerMobile-button">
      <div class="headerMobile-buttonIcon"></div>
    </div>

    <div class="headerMobile-links">
      <ul>
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(dicas_path) %>"><%= link_to "Dicas", dicas_path %></li>
        <li class="<%= 'active' if current_page?(ranking_path) %>"><%= link_to "Ranking", ranking_path %></li>
        <li class="<%= 'active' if current_page?(faleconosco_path)%>"><%= link_to "Fale conosco", faleconosco_path%></li>
      </ul>
    </div>

  </div>
