<!-- DESKTOP  -->
<div class="headerDesktop hidden-xs visible-sm visible-md visible-lg">
  <div id="headerDesktop-image">
    <nav role="navigation" class="navbar navbar-static-top header-background-color">
      <div class="container">

        <div class="header-logo ">
          <a href="/"><%= image_tag("logo.jpg", size: "90x90",:id => "img_logo_site", :alt => "Logo do site, imagem de uma mulher mostrando a força no braço") %></a>
        </div>

        <div class="header-links" >
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
            <li class="<%= 'active' if current_page?(dicas_path) %>"><%= link_to "Dicas", dicas_path %></li>
            <li class="<%= 'active' if current_page?(faleconosco_path)%>"><%= link_to "Fale conosco", faleconosco_path%></li>
            <!-- <li><a href="/#mapa">Mapa</a></li> -->
            <li><a href="/#ranking">Ranking</a></li>
          </ul>
        </div>
        <div class="headerDesktop-text ">
          <p> Não me calo é uma plataforma para classificar o estabelecimento <br>onde as pessoas
            podem relatar situação de opressão com algum grupo</p>
          </div>
        </div>
      </nav>

    </div>
  </div>
<!-- MOBILE -->
  <div class="headerMobile visible-xs hidden-sm hidden-md hidden-lg">
    <div id="headerMobile-image">
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle button-header-style collapsed"  data-toggle="collapse" data-target="#navbar-menu-collapse" aria-expanded="true" id="botao-pra-testar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </div>

      <div class="header-mobile" id="navbar-menu-collapse">
        <ul class="nav navbar-nav hidden" id="id-para-teste">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if current_page?(dicas_path) %>"><%= link_to "Dicas", dicas_path %></li>
          <li class="<%= 'active' if current_page?(faleconosco_path)%>"><%= link_to "Fale conosco", faleconosco_path%></li>
          <li><a href="/ranking">Ranking</a></li>
          <!-- <li><a href="/#mapa">Mapa</a></li> -->
        </ul>
      </div>
      </button>
      <div class="headerMobile-text">
        <p> Não me calo é uma plataforma para classificar o estabelecimento onde as pessoas
          podem relatar situação de opressão com algum grupo</p>
        </div>
    </div>
  </div>
<script>
// $('#botao-pra-testar').on('click', function(){
//     $('#botao-pra-testar').css("display", "block");
// });
$('#botao-pra-testar').on('click', function(){
  $("#id-para-teste").removeClass('hidden');
});
  // alert("alsjdh");
  //   $('#botao-pra-testar ul').css("display", "none");
// $(function() {
//   var menuVisible = false;
//   $('#botao-pra-testar').click(function() {
//     if (menuVisible) {
//       $('#id-para-teste').css({'display':'none'});
//       menuVisible = false;
//       return;
//     }
//     $('#id-para-teste').css({'display':'block'});
//     menuVisible = true;
//   });
//   $('#id-para-teste').click(function() {
//     $(this).css({'display':'none'});
//     menuVisible = false;
//   });
// });
</script>
