<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Não Me Calo</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta http-equiv=”content-language” content=”pt-br”>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>naomecalo</title>
<link rel="canonical" href="http://naomecalotw-staging.herokuapp.com/">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="" >
<meta name="description" content="testando">
<!--FACEBOOK-->
<meta property="og:title" content="Teste do compartilhamento" >
<meta property="og:site_name" content="Nao me carlos">
<meta property="og:url" content="http://naomecalotw-staging.herokuapp.com/" >
<meta property="og:description" content="testando o compartilhamento"  > 
<meta property="og:image" content="" >
<meta property="og:type" content="website" >
<meta property="og:locale" content="" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/header' %>
  <section>
    <div class="container-fluid">
      <%= yield %>
    </divthub.>
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
