<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/936687d01f.js"></script>
  <link href='https://npmcdn.com/jquery-gray@1.4.5/css/gray.min.css' rel='stylesheet' type='text/css'>
  <script src="https://npmcdn.com/jquery-gray@1.4.5/js/jquery.gray.min.js"></script>
  <title><%= @establishment ? @establishment.name : "Não Me Calo" %></title>
  <meta http-equiv=”content-language” content=”pt-br”>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

  <% if params[:controller] == 'establishments' && params[:action] == 'ranking'%>
    <link rel="canonical" href="http://naomecalotw-test.herokuapp.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Ranking de estabelecimentos" >
    <meta property="og:site_name" content="Nao me calo">
    <meta property="og:url" content="http://naomecalotw-test.herokuapp.com/ranking/" >
    <meta property="og:description" content="Veja o ranking dos estabelecimentos mais e menos amigaveis para oprimidos" >
    <meta property="og:image" content="" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="pt_BR" >
  <% else %>
    <link rel="canonical" href="http://naomecalotw-test.herokuapp.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="<%= !@rating.nil? ? !@rating.establishment.nil? ? @rating.establishment.name : 'Não Me Calo' : 'Nao Me Calo'%>" >
    <meta property="og:site_name" content="Nao me calo">
    <meta property="og:url" content="<%= !@rating.nil? ? !@rating.establishment.nil? ? 'http://naomecalotw-test.herokuapp.com/relato/'+@rating.id.to_s+'' : 'http://naomecalotw-test.herokuapp.com/' : 'http://naomecalotw-test.herokuapp.com/' %>" >
    <meta property="og:description" content="<%= !@rating.nil? ? @rating.description : 'Conheça o site Não Me Calo' %>" >
    <meta property="og:image" content="" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="pt_BR" >
  <% end %>


  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if params[:controller] == 'welcome' && params[:action] == 'index'%>
    <%= render 'layouts/header_home' %>
  <% else %>
    <%= render 'layouts/header_small' %>
  <% end %>

  <section>
    <div id="buttons-enhance">
      <%= submit_tag "A+", :class =>"btn btn-warning form-group", :id =>"upperFontSizeButton" %>
      <%= submit_tag "A-", :class =>"btn btn-warning form-group", :id =>"lowerFontSizeButton" %>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </divthub>
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
