<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>NaoMeCalo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
  <section class="min-height">

    <%= yield %>
  </section>
</div>
  <%= render 'layouts/footer' %>
</body>
</html>
