<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title><%= @establishment ? @establishment.name : "Não Me Calo" %></title>
  <meta http-equiv=”content-language” content=”pt-br”>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

  <% if params[:controller] == 'establishments' && params[:action] == 'ranking'%>
    <link rel="canonical" href="http://naomecalotw-staging.herokuapp.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Ranking de estabelecimentos" >
    <meta property="og:site_name" content="Nao me calo">
    <meta property="og:url" content="http://naomecalotw-staging.herokuapp.com/ranking/" >
    <meta property="og:description" content="Veja o ranking dos estabelecimentos mais e menos amigaveis para oprimidos" >
    <meta property="og:image" content="" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="" >
  <% else %>
    <link rel="canonical" href="http://naomecalotw-staging.herokuapp.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="<%= !@rating.nil? ? !@rating.establishment.nil? ? @rating.establishment.name : 'Não Me Calo' : 'Nao Me Calo'%>" >
    <meta property="og:site_name" content="Nao me calo">
    <meta property="og:url" content="<%= !@rating.nil? ? !@rating.establishment.nil? ? 'http://naomecalotw-staging.herokuapp.com/relato/'+@rating.id.to_s+'' : 'http://naomecalotw-staging.herokuapp.com/' : 'http://naomecalotw-staging.herokuapp.com/' %>" >
    <meta property="og:description" content="<%= !@rating.nil? ? @rating.description : 'Conheça o site Não Me Calo' %>" >
    <meta property="og:image" content="" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="" >
  <% end %>


  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if params[:controller] == 'welcome' && params[:action] == 'index'%>
  <%= render 'layouts/header' %>
  <% else %>
  <%= render 'layouts/navbar' %>
  <% end %>
  <section>
    <div class="container-fluid">
      <%= yield %>
    </divthub.>
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
