<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Não Me Calo</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta http-equiv=”content-language” content=”pt-br”>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/header' %>
  <section>
    <div class="container-fluid">
      <%= yield %>
    </divthub.>
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
